<div class="container py-3 h-80">
    <div class="row d-flex align-items-center justify-content-center h-80">
        <h1 class="row d-flex align-items-center justify-content-center main-text"> Welcome to OrderX</h1>
        <div class="col-md-8 col-lg-7 col-xl-6 position-relative">
            <img src="../../../assets/Images/Inventory-3.jpg" class="img-fluid rounded-img" alt="Phone image">
            <div class="overlay-text">Register to proceed</div>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- First Name input -->
                <div class="form-outline mb-2">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control form-control-lg"
                        formControlName="firstName" />
                </div>

                <!-- Last Name input -->
                <div class="form-outline mb-2">
                    <label class="form-label" for="lastname">Last Name</label>
                    <input type="text" id="lastname" class="form-control form-control-lg" formControlName="lastName" />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-2">
                    <label class="form-label" for="email">Email address</label>
                    <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-2">
                    <label class="form-label" for="password">Password</label>
                    <div class="d-flex align-items-center">
                        <input type="{{showPassword?'password':'text'}}" id="password"
                            class="form-control form-control-lg" formControlName="password" />
                        <div class="btn btn-lg border  rounded-none " (click)="showPasswordToggle()">
                            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path
                                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                <path
                                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                <path
                                    d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Mobile Number-->
                <div class="form-outline mb-2">
                    <label class="form-label" for="mobile">Mobile No</label>
                    <input type="text" id="mobile" class="form-control form-control-lg"
                        formControlName="mobileNumber" />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Sign
                    Up</button>
            </form>
        </div>
    </div>
</div>