<div class="container py-3 h-80">
  <div class="row d-flex align-items-center justify-content-center h-80">
    <h1 class="row d-flex align-items-center justify-content-center main-text">Place the Order</h1>
    <div class="col-md-8 col-lg-7 col-xl-6 position-relative">
      <img src="../../../assets/Images/Order-2.jpg" class="img-fluid rounded-img" alt="Phone image">
      <div class="overlay-text">Order Here</div>
    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

      <form *ngIf="hasInventory" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <!-- Order Title input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="orderTitle">Order Title</label>
          <input type="text" id="orderTitle" class="form-control form-control-lg" formControlName="orderTitle" />
        </div>

        <!-- Order Category input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="orderCategory">Order Category</label>
          <select id="orderCategory" class="form-control form-control-lg" formControlName="orderCategory">
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
            <option value="Jewellery">Jewellery</option>
          </select>
        </div>

        <!-- Items input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="items">Items</label>
          <select id="items" class="form-control form-control-lg" formControlName="items">
            <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</option>
          </select>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="email">Email(Enter the email linked with OrderX)</label>
          <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!orderForm.valid">Submit</button>
      </form>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      <button *ngIf="!hasInventory" routerLink="/create-inventory" class="btn btn-danger">Add Inventory</button>
    </div>
  </div>
</div>