<div class="container">
    <div class="carousel">
        <div class="carousel__face"><span>Add your Inventory</span></div>
        <div class="carousel__face"><span>Transfer Inventory</span></div>
        <div class="carousel__face"><span>Check Inventory</span></div>
        <div class="carousel__face"><span>Place Order</span></div>
        <div class="carousel__face"><span>Check Order</span></div>
        <div class="carousel__face"><span>Lease Warehouse</span></div>
        <div class="carousel__face"><span>End Lease</span></div>
        <div class="carousel__face"><span>Check Inventory</span></div>
        <div class="carousel__face"><span>Order Inventory</span></div>
    </div>
</div>