<section class="price-sec">
    <div class="container-fluid">
        <div class="container">
            <div class="row ptables-head">
                <h1 class="text-center">Explore the OrderX</h1>
            </div>
            <div class="row">
                <div class="col-sm-4 price-table">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fas fa-warehouse"></i>
                            <h2>Warehouse</h2>
                        </div>
                        <a href="" routerLink="/buy-warehouse">Lease Warehouse</a>
                        <a href="" routerLink="/list-warehouses">List Warehouses</a>
                        <a href="" routerLink="/list-warehouses">Edit Warehouses</a>
                    </div>
                </div>
                <div class="col-sm-4 price-table">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fas fa-dolly-flatbed"></i>
                            <h2>Inventory</h2>
                        </div>
                        <a href="" routerLink="/inventory-display">Inventory-Levels</a>
                        <a href="" routerLink="/create-inventory">Add Inventory</a>
                        <a href="" routerLink="/transfer-inventory">Transfer Inventory</a>
                    </div>
                </div>
                <!-- (2) -->
                <div class="col-sm-4 price-table">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fa-solid fa-box"></i>
                            <h2>Orders</h2>
                        </div>
                        <a href="" routerLink="/order-creation">Place Orders</a>
                        <a href="" routerLink="/order-display">View Orders</a>
                        <a href="" routerLink="/order-display">Edit and Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
