.main-text {
    color: rgb(37, 99, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.rounded-img {
    border-radius: 15px;
    border: 2px solid black;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 37, 37);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}